body {
    padding-left:2em;
    padding-right:2em;
    padding-top:1em
}

h1, h2 {
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.form-group {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-check {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

button.btn.btn-primary {
    width: 60%;
    display: flex;
    justify-content: center;
}

.list-group-boys, .list-group-girls {
    max-height: 600px;
    min-height: 200px;
    list-style-type: none !important;
    padding: 0;
    margin: 0;
  }

  .list-group-boys-item {
    padding: 10px !important;
    border: none !important;
    background: #ccc !important;
  }
  .list-group-girls-item {
    padding: 10px !important;
    border: none !important;
    background: #aaa !important;
  }