body {
    padding-left:2em;
    padding-right:2em;
    padding-top:1em;
    background-image: var(--bs-gradient)!important;
    background-color: #9aeaa0 !important;
}

nav.navbar {
    background: #9aeaa4 !important;
}

main {
    background-color: #9aeaa4;
    border-radius: 1px;
    padding:9px;
    margin-bottom:20px;
}

h1, h2, h3, h5 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff !important;
}

h5 {
    font-weight:900;
    margin-bottom:20px !important;
}

h1 {
    margin: 40px !important;
}
.bg-info-subtle {
    margin: 1em;
    padding: 1em;
}

.form-group {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-check {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

button.btn.btn-primary {
    width: 60%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 1px;
}
a.btn.btn-primary {
    width: 40%;
    text-transform: uppercase;
    border-radius: 1px;
    margin-left: 4px;
    margin-right:4px;
    margin-top:20px;
    margin-bottom:10px;
}

.list-group-boys, .list-group-girls {
    max-height: 250px;
    list-style-type: none !important;
    padding: 2px;
    margin-bottom: 20px;
  }

  .list-group-boys-item {
    padding: 10px !important;
    border: none !important;
    background: #ccc !important;
  }

  .list-group-girls-item {
    padding: 10px !important;
    border: none !important;
    background: #aaa !important;
  }

  ul.navbar-nav {
    display: flex;
    flex-direction: row;
}

li.nav-item {
    margin: 3px;
}