body, main {
    background-color: #9aeaa0 !important;
    padding:0em 0em 0.5em 1em ;
    border-radius:1px !important;
}

.gossip-container, ul#messageListGirls, ul#messageListBoys {
    background-color: #fff;
    margin-top:1em;
    padding-bottom:1em;
}

#accContainer {
    padding:0 !important;
    margin:0 !important;
    background-color: #9aeaa0 !important;
}

.card {
    border: 0px !important;
}

div#termsHeader, div#gossipHeader  {
    background: #9aeaa0;
    border: 0px;
    padding-left:0px;
    padding-right:0px;
}

div#itemHeader {
    padding: 0px !important;
    display:inline;
}

.form-group {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-check {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}



.list-group-boys, .list-group-girls {
    max-height: 250px;
    list-style-type: none !important;
    padding: 4px;
    margin-bottom: 20px;
}

.list-group-boys-item {
    padding: 10px !important;
    border: none !important;
    background: #9de1f2 !important;
  }

  .list-group-girls-item {
    padding: 10px !important;
    border: none !important;
    background: #f29ddf !important;
  }

  ul.navbar-nav {
    display: flex;
    flex-direction: row;
}

li.nav-item {
    margin: 3px;
}

li.nav-item:hover {
    opacity: 0.9;
    color: #09aeaa !important;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 2px #09aeaa, 0 0 4px #09aeaa, 0 0 8px #09aeaa;
      opacity: 0.1;
    }
    to {
      text-shadow: 0 0 3px #a3dbaf, 0 0 6px #a3dbaf, 0 0 12px #a3dbaf;
      opacity: 0.2;
    }
  }

h1 {
    font-weight: 700;
    text-transform: uppercase;
    color:#fff !important;
    font-size:4em !important;
}

h2, h3, h5 {
    font-weight: 1000;
    text-transform: uppercase;
    color:#fff !important;
    background:#232222 !important;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

h2.mb-0 {
    margin-bottom: 0!important;
    justify-content: center !important;
    display: flex;
}




button.btn.btn-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff !important;
    text-decoration: none;
    font-size: 2.5em;
    overflow:hidden;
}

button.btn.btn-primary {
    width: 60%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 1px;
    background:#000 !important;
    border: 2px solid #000 !important;
}

a.btn.btn-primary {
    width: 40%;
    text-transform: uppercase;
    border-radius: 1px;
    margin-left: 4px;
    margin-right:4px;
    margin-top:20px;
    margin-bottom:10px;
    background:#000 !important;
    border: 2px solid #000 !important;
}



button.btn.btn-primary:hover {
    opacity: 0.9;
    border: 2px solid #9aeaa0 !important;
}

a.btn.btn-primary:hover {
    opacity: 0.9;
    border: 2px solid #09aeaa !important;
}